@import "tailwindcss";

@plugin "daisyui" {
  themes:
    corporate --default,
    business --prefersdark;
  root: ":root";
  logs: false;
}

html {
  scrollbar-gutter: stble;
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
